<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Tablero</h1>
        <table class="table table-condensed">
            <tr>
                <th>Repositorio</th>
                <th>Reporte</th>
                <th>Develop</th>
                <th>Default</th>
            </tr>

            {% for registro in tablero %}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td><img src="{{registro[2]}}" /></td>
                <td><img src="{{registro[3]}}" /></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>
